
<form style="margin-top: 50px" >
 <div class="firstdiv" >
    <h1 id="title">Contact Us</h1>
    <hr>
    <div class="row">
        <div class="col-md-2 ourlocations" >
          <br/>
            <p>Our Locations</p>
              <p>Boston</p>
              <p>California</p>
           </div>
           <div class="col-md-2 ourlocations">
              <br/>
              <p>Our Locations</p>
                <p>Boston</p>
                <p>California</p>
             </div>
             <div class="col-md-2 ourlocations">
                <br/>
                <p>Our Locations</p>
                  <p>Boston</p>
                  <p>California</p>
               </div>
               
    </div>
   


    <h1 style="margin-top: 50px" id="title">Do you want to ask us any thing ?</h1>
    <hr>
    <br>
    <form style=" text-align: left;  margin-left: 30px;">
        <div class="row">
         <div class="col-md-4" style=" margin-left: 30px">
            <div class="form-group">
            <label  for="exampleInputName">First Name: </label>
            <input type="text" class="form-control"  placeholder="Enter your first name" required data-error="Firstname is required.">
            </div>
        
            <div class="form-group">
            <label  for="exampleInputName">LastName Name: </label>
            <input type="text" class="form-control"  placeholder="Enter your last name" required data-error="Last name is required.">
            </div>
        
            <div class="form-group">
            <label for="exampleInputEmail1">Email Id:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email Id" required data-error="Email Id is required.">
            <small id="emailHelp" class="form-text text-muted">Your email id is our Treasure, we will keep it safe.</small>
            </div>
        
            <div class="form-group">
            <label for="exampleInputEmail1">Phone Number:</label>
            <input type="number" class="form-control"   placeholder="xxx-xxx-xxxx" required data-error="Phone Number is required.">
            </div>
                
            <div class="form-group">
            <label for="exampleInputMsg">Leave us your message :</label>
            <textarea class="form-control"  rows="5" id="comment" placeholder="We will get Back to you with 24 hours"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          
        </div>
        
        </form>
       
      </div>
        

</form>