.ContactForm{
font-family: Comic Sans MS;

}
#title{
    text-align: left;
    font-size: 36px;
    margin-left: 30px;
}
.ourlocations{
    font-size: 10px;
    text-align: center;
}
#title2{
    text-align: center;
}
#map {
    height:100%;  
    width:100%;  
   }
