
<!-- Footer -->
<section id="footer">
  <!--- <div class="container">-->
    <!-- <div class="row text-center text-xs-center text-sm-left text-md-left">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>About Care.com</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Get help</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Safety Center</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Help & FAQs</a></li>
          
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Discover</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>HomePay℠ - nanny tax help</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>List your business</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Care@Work - benefits programs</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i> Become an affiliate</a></li>

          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
          <ul class="list-unstyled list-inline social text-center">
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
          </ul>
        </div>
        <hr>
      </div>
    -->

   <!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Care.com</h6>
        <p>Care.com is the world's largest online destination for care. We connect families with caregivers and caring companies to help you be there for the ones you love</p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">About @Care.com</h6>
        <p>
          <a href="#!">Home</a>
        </p>
        <p>
          <a href="#!">About</a>
        </p>
        <p>
          <a href="#!">FAQ</a>
        </p>
        <p>
          <a href="#!">Get Started</a>
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Get Help</h6>
        <p>
          <a href="#!">Safety Center</a>
        </p>
        <p>
          <a href="#!">Help and FAQ's</a>
        </p>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
        <p>
          <i class="fa fa-globe"></i> New York, NY 10012, US</p>
        <p>
          <i class="fa fa-address-card"></i> info@gmail.com</p>
        <p>
          <i class="fa fa-phone"></i> + 01 234 567 88</p>
        <p>
          <i class="fa fa-phone"></i> + 01 234 567 89</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr>

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-7 col-lg-8">

        <!--Copyright-->
        <p class="text-center text-md-left">© 2018 Copyright:
          <a href="https://mdbootstrap.com/education/bootstrap/">
            <strong> Care.com</strong>
          </a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-5 col-lg-4 ml-lg-0">

     <!--   <!-- Social buttons -->
     <div class="text-center text-md-right">
      <ul class="list-unstyled list-inline">
        <li class="list-inline-item">
              <a href="#" class="fa fa-facebook"></a>
        </li>
        <li class="list-inline-item">
              <a href="#" class="fa fa-twitter"></a>
        </li>
        <li class="list-inline-item">
              <a href="#" class="fa fa-google"></a>
        </li>
        <li class="list-inline-item">
              <a href="#" class="fa fa-instagram"></a>
        </li>
      </ul>
    </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->   

  <!---- </div>-->
  </section>
  <!-- ./Footer -->
  