<div style="padding: 20px; margin-top:30px">
<h3>Let's get started. Choose an option.</h3> 

<ngb-accordion #acc="ngbAccordion" [closeOthers]="true" >
  <ngb-panel id="static-1" title="I need a caregiver">
    <ng-template ngbPanelContent>
        <div id="QuickSearch" class="container-fluid" style="padding-top:70px;padding-bottom:70px;margin: 10px">
            <h2>Who is going to need care?</h2>
            <figure style="display: inline-block">
            <a href="https://www.zomato.com/boston/breakfast"><img class="card-img-top" src=".\assets\images\baby.png" alt="Card image" style="height: 250px; width: 250px; padding: 50px;"></a>
            <figcaption style="text-align: center">My Kids</figcaption>
          
          </figure>
          <figure style="display: inline-block">
            <a href="https://www.zomato.com/boston/lunch"><img class="card-img-top" src=".\assets\images\family.png" alt="Card image" style="height: 250px; width: 250px; padding: 50px;"></a>
            <figcaption style="text-align: center">My Parents</figcaption>
          
          </figure>
          <figure style="display: inline-block">
           <a href="https://www.zomato.com/boston/take-away"><img class="card-img-top" src=".\assets\images\dog.png" alt="Sunil image" style="height: 250px; width: 250px; padding: 50px;"></a>
            <figcaption style="text-align: center">My Pets</figcaption>
          
          </figure>
          <figure style="display: inline-block">
            <a href="https://www.zomato.com/boston/delivery"><img class="card-img-top" src=".\assets\images\mansion.png" alt="Card image" style="height: 250px; width: 250px; padding: 50px;"></a>
             <figcaption style="text-align: center">My Home</figcaption>
           
           </figure>
          </div>
         
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-2" title="I want a care job">
    
    <ng-template ngbPanelContent>
        <div id="QuickSearch" class="container-fluid" style="padding-top:70px;padding-bottom:70px;margin: 10px">
            <h2>What kind of services do you offer?</h2>
            <figure style="display: inline-block">
            <a href="https://www.zomato.com/boston/breakfast"><img class="card-img-top" src=".\assets\images\instruction.png" alt="Card image" style="height: 250px; width: 250px; padding: 50px;"></a>
            <figcaption style="text-align: center">Tutor & Private lessons</figcaption>
          
          </figure>
          <figure style="display: inline-block">
            <a href="https://www.zomato.com/boston/lunch"><img class="card-img-top" src=".\assets\images\elderly.png" alt="Card image" style="height: 250px; width: 250px; padding: 50px;"></a>
            <figcaption style="text-align: center">Senior care & Nursing</figcaption>
          
          </figure>
          <figure style="display: inline-block">
           <a href="https://www.zomato.com/boston/take-away"><img class="card-img-top" src=".\assets\images\veterinary.png" alt="Sunil image" style="height: 250px; width: 250px; padding: 50px;"></a>
            <figcaption style="text-align: center">Pet Care</figcaption>
          
          </figure>
          <figure style="display: inline-block">
            <a href="https://www.zomato.com/boston/delivery"><img class="card-img-top" src=".\assets\images\cleaner.png" alt="Card image" style="height: 250px; width: 250px; padding: 50px;"></a>
             <figcaption style="text-align: center">House Keeping</figcaption>
           
           </figure>
           <figure style="display: inline-block">
              <a href="https://www.zomato.com/boston/delivery"><img class="card-img-top" src=".\assets\images\babycare.png" alt="Card image" style="height: 250px; width: 250px; padding: 50px;"></a>
               <figcaption style="text-align: center">Baby sitter</figcaption>
             
             </figure>
          </div>
    </ng-template>
  </ngb-panel>
  
</ngb-accordion>
</div>
